# Environment Variables for Local testing and development and is used by docker-compose.yml in the root directory. Copy this file to .env and fill in the values as needed.
# Database Configuration
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgresDB-pass
POSTGRES_DB=mygrape

# Backend Configuration
SECRET_KEY=
ADMIN_EMAIL=
ADMIN_DEFAULT_PASSWORD=your-admin-default-password
MYGRAPE_ADMIN_EMAIL=mygrape-admin@example.com
MYGRAPE_ADMIN_PASSWORD=your-mygrape-admin-password

# IoT / Tive API
IOT_CLIENT_ID=test
IOT_CLIENT_SECRET=90db32df-07fc-44fd-9376-013245eaadd4
IOT_ACCOUNT_ID=9104

# Application URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
VITE_API_BASE_URL=http://localhost:8000
VITE_GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
GOOGLE_MAPS_API_KEY=your-google-maps-api-key-here
